@import '~antd/lib/style/themes/default.less';
@import '~antd/dist/antd.less'; // Import Ant Design styles by less entry

@component-background: theme("colors.pageVeryLight");
@table-header-bg: theme("colors.pageLight");
@alt-color: #e61965;

.ant-table-title{
    @apply bg-pageVeryDark text-white border-solid border-white border-2;
}