@import '~antd/lib/style/themes/default.less';
@import '~antd/dist/antd.less'; // Import Ant Design styles by less entry

@component-background: theme("colors.pageVeryLight");
@table-header-bg: theme("colors.pageLight");
@alt-color: #e61965;

.ant-table-title{
    @apply bg-pageVeryDark text-white border-solid border-white border-2;
}


//----------------------calculator----------------------------------


#img_mahjong_piece_map{
	min-height: 613px;
	min-width: 700px;
}

#tooltip {
	position: absolute;
	z-index: 9999;
	width: 250px;
	max-height: 400px;
}